<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.PowerMapper">

	<select id="getAllRunoffByPatAndSitu"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		gcmId
		= #{gcm_id}
	</select>

	<select id="getFRunoffByPatAndSitu"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		gcmId= #{gcm_id} AND (DATE_FORMAT(date,'%m') &gt; 5 AND
		DATE_FORMAT(date,'%m')&lt; 11)
	</select>

	<select id="getPRunoffByPatAndSitu"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id}AND
		gcmId=
		#{gcm_id} AND (DATE_FORMAT(date,'%m') = 5 OR DATE_FORMAT(date,'%m') =
		11)
	</select>
	<select id="getKRunoffByPatAndSitu"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		gcmId= #{gcm_id}AND
		(DATE_FORMAT(date,'%m') &lt; 5 OR
		DATE_FORMAT(date,'%m') &gt; 11)
	</select>


	<select id="getAllRunoffByPattern"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT gcmId,stationName,date,runoff FROM `dayrunoff` WHERE
		rcpId = #{rcp_id}
	</select>
	<select id="getFRunoffByPattern"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		(DATE_FORMAT(date,'%m') &gt; 5 AND DATE_FORMAT(date,'%m')&lt; 11)
	</select>

	<select id="getPRunoffByPattern"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		(DATE_FORMAT(date,'%m') = 5 OR DATE_FORMAT(date,'%m') = 11)
	</select>
	<select id="getKRunoffByPattern"
		resultType="org.sang.bean.hydro.Runoff">
		SELECT * FROM `dayrunoff` WHERE rcpId = #{rcp_id} AND
		(DATE_FORMAT(date,'%m') &lt; 5 OR DATE_FORMAT(date,'%m') &gt; 11)
	</select>
</mapper>